@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Barlow+Condensed:wght@500&family=Work+Sans:wght@400;500;800&display=swap");

// Anonymous pro
@mixin font_1_regular() {
  font-family: "Anonymous Pro", monospace;
  font-weight: 600;
}

// Work sans
@mixin font_2_regular() {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

@mixin font_2_medium() {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

@mixin font_2_bold() {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}

@mixin font_2_extrabold() {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

// Barlow condensed
@mixin font_3_medium() {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
}
